.section {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.logo {
  font-size: 3rem;
  font-weight: 100;
  background: #c1c1d4;
  background: repeating-linear-gradient(to right, #c1c1d4 0%, #cd8bcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 5;
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translate(-50%);
}

.box {
  overflow: hidden;
}

.line {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 90vw;
  background-color: pink;
  height: 0.5px;
  transform: translate(-50%, 50%);
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  position: absolute;
  right: 5%;
  width: 50vw;
  z-index: 0;
  color: antiquewhite;
  z-index: 150;
}

.fractal {
  position: absolute;
  top: 0px;
  opacity: 0.5;
}

.menubtn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;

  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.menubtn:hover {
  background-color: antiquewhite;
  color: black;
}
