.spline {
  position: absolute;
  top: -5%;
  left: 85%;
  transform: translate(-50%, 0);
  transition-duration: 0.5s;
  z-index: -1;
}

.loader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
