.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  font-size: 3rem;
  background: #c1c1d4;
  background: repeating-linear-gradient(to right, #c1c1d4 0%, #cd8bcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  overflow: hidden;
}

.line {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 90vw;
  background-color: beige;
  height: 0.5px;
  transform: translate(-50%, 50%);
}
